<!--home.html -->
{% extends"base.html" %}
{% block content%}
<ul>
    <li><a href="/register_user">Cadastrar Usuários</a></li>
    <li><a href="/register_sensors">Cadastrar Sensores</a></li>
    <li><a href="/register_actuators">Cadastrar Atuadores</a></li>
    <li><a href="/list_users">Listar Usuários</a></li>
    <li><a href="/sensors">Listar Sensores</a></li>
    <li><a href="/actuators">Listar Atuadores</a></li>
    <li><a href="/remove_user">Remover Usuário</a></li>
    <li><a href="/remove_sensors">Remover Sensor</a></li>
    <li><a href="/remove_actuators">Remover Atuador</a></li>
    <li><a href="/logout">Sair</a></li>
</ul>
{% endblock%}